<footer class="bg-accent-1 dark:bg-gray-800 border-t border-accent-2 dark:border-gray-700">
    <div class="max-w-7xl mx-auto px-5">
    <div class="py-28 flex flex-col lg:flex-row items-center">
       
    </div>
    </div>
</footer>
